* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c d";
}
.area {
    height: 100%;
}
.area-a {
    grid-area: a;
    overflow: hidden;
}

.area-b {
    grid-area: b;
    overflow: hidden;
}

.area-c {
    grid-area: c;
    overflow: hidden;
}

.area-d {
    grid-area: d;
    overflow: hidden;
}