* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "a b"
        "c d";
}

#a {
    grid-area: a;
    overflow: hidden;
}
#b {
    grid-area: b;
    overflow: hidden;
}
#c {
    grid-area: c;
    overflow: hidden;
}
#d {
    grid-area: d;
    overflow: hidden;
}
img {
    width: 100%;
    height: auto;
}